{% load i18n %}

{% if payment_info %}
    <dl class="dl-horizontal">
        {% if payment_info.transaction %}
            <dt>{% trans "Transaction" %}</dt>
            <dd>{{ payment_info.transaction }}</dd>
        {% endif %}
        {% if payment_info.time %}
            <dt>{% trans "Time" %}</dt>
            <dd>{{ payment_info.time }}</dd>
        {% endif %}
        {% if payment_info.time %}
            <dt>{% trans "Status" %}</dt>
            <dd>{{ payment_info.status }}</dd>
        {% endif %}
        {% if payment_info.sender %}
            <dt>{% trans "Payer name" %}</dt>
            <dd>{{ payment_info.sender.holder }}</dd>
            <dt>{% trans "IBAN" %}</dt>
            <dd>{{ payment_info.sender.iban }}</dd>
            <dt>{% trans "Bank" %}</dt>
            <dd>{{ payment_info.sender.bank_name }}</dd>
        {% endif %}
    </dl>
{% endif %}
